*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h3,h4{
    margin: 10px 0px;
    color:#1e1e1e;
}
img{
    max-width: 100%;
}
p{
    color: rgba(170, 166, 166, 0.651);
    font-size: 14px;
    margin: 15px 0px;
}
a{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 30px;
    border: 1px solid black;
    display: inline-block;
}
.container{
    width: 1000px;
    
    margin: auto;
}
.clearfix{
    clear: both;
}
main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* banner lef */
.banner-left{
  width: 50%;
}



.banner-image{
    position: relative;
}

.left-arrow{
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: azure;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right:20px ;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: azure;
}
.arrow i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.gallery{
   width:18%;
   
}

/* banner right */
.banner-right{
    width: 50%;
}
small{
    position: relative;
}
small::before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #1e1e1e;
    top: 15px;
    left: 0;
    position: absolute;
}

.add{
    background-color: black;
    color:white;
}
.wishlist{
    color: #000;
    background-color: #ffff;
}
.icon{
   padding-right: 5px; 
}
.color{
    color: #00d19b;
}

/* service section */
.service{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-content{
    width: 30%;
    display: flex;
}
.service-color{
    color: #8f8f8f;
}
.details{
    padding: 0px 10px;
}




/* responsive section */
@media (max-width:768px)
{
    .service-content{
        width: 100%;
        margin-left: 30px;
        
       
    } 

    .banner-left{
        width: 100%;
        padding: 0 50px;
      }
      
      .banner-right{
          width: 100%;
          padding: 0 50px;
      }
      
      .gallery{
          width: 30%;
      }
      .container{
          width: 100%;
          margin: auto;
      }
      /* .add{
          margin: 5px 0px;
      } */
     
}